<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @haunted_house.banner_url %>);">
  <div class="container">
    <h1><%= @haunted_house.name %></h1>
    <%= link_to "Add a Monster", new_haunted_house_monster_path(@haunted_house), class: 'btn btn-danger mt-2'  %>
  </div>
</div>
<div class="container mt-3">
  <div class="cards">
    <% @haunted_house.monsters.each do |monster| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= monster.photo.attached? ? cl_image_path(monster.photo.key) : monster.image_url %>)">
        <%= monster.name %>
        <%= link_to  new_monster_curse_path(monster), class: 'card-add-link' do %>
          <i class="fa-solid fa-wand-sparkles"></i>
        <% end %>
        <%= link_to monster_path(monster), data: { turbo_method: :delete, turbo_confirm: "Free #{monster.name}?" }, class: 'card-remove-link' do %>
          <i class="fa-solid fa-skull-crossbones"></i>
        <% end %>
        <div class="card-tags">
          <% monster.powers.each do |power| %>
            <span><%= power.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
